<h1 class="text-center mt-3">Eat-Da-Burger</h1>

<img src="assets/img/burger-img2.jpg" alt="burger" class="burger-img img-fluid mx-auto d-block">

<h2 class="text-center mt-3">Choose a burger and devour it!</h2>

<div class="d-flex justify-content-between mt-3">

    <h3 class="mt-3">Yum!</h3>
    <ul class="burger-list mt-2">
        {{#each burger}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
    </ul>

    <h3 class="mt-3">Gone!</h3>
    <ul class="burger-list mt-2">
        {{#each burger}}
            {{#if devoured}} 
                {{> burgers/burger-block devoured=false}}
            {{/if}}
        {{/each}}
    </ul>

</div>

<form class="create-burger-form mt-3">
  <div class="form-group">
    <label class="text-center" for="burgersubmit">Add a burger</label>
    <input type="text" name="name" class="form-control mx-sm-3" id="addburger">
  </div>
  <button type="submit" class="btn btn-success ml-2 create-burger">Submit</button>
</form>
