<h1 class="text-center">Eat-Da-Burger</h1>

{{!-- <img src="../public/assets/img/" alt="burger"> --}}

<h2>Choose a burger and devour it!</h2>

<h3>Burgers ready to be devoured</h3>
<ul>
    {{#each burger}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<h3>Devoured!</h3>
<ul>
    {{#each burger}}
        {{#if devoured}} 
            {{> burgers/burger-block devoured=true}}
        {{/if}}
    {{/each}}
</ul>

<form  action="/create" method="POST" class="create-burger-form">
  <div class="form-group">
    <label for="burgersubmit">Add a burger</label>
    <input type="text" name="name" class="form-control" id="addburger">
  </div>
  <button type="submit" class="btn btn-primary mb-2 create-burger">Submit</button>
</form>
