* {
    box-sizing: border-box; 
}

body { 
    font-family: 'Fredoka One', cursive;
}

.burger-img {
    width: 200px; 
    height: 200px;
}

.burger-list {
    font-size: 22px; 
}

/* button  */
/* .devour {

} */

/* .create-burger-form {

} */

/* submit-button */
/* .create-burger {

} */

label {
    font-size: 32px; 
}

/* input */
/* .form-control {

} */