* {
    box-sizing: border-box; 
}

body { 
    font-family: 'Fredoka One', cursive;
}

.burger-img {
    width: 200px; 
    height: 200px;
}

.burger-list {
    font-size: 22px; 
    padding: 20px; 
}

.burger-list-container {
    padding: 20px; 
    border: 1px groove black; 
}

label {
    font-size: 32px; 
}

.devoured-burgers {
    color: grey; 
    text-decoration-line: line-through;  
}