<li class="mt-2 p-3">
    {{burger_name}}

    <button class="devour btn btn-success mr-2" data-id="{{id}}" data-devournow="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Devoured!{{/if}}
    </button>

</li>