<li class="burger-list mt-2">
    {{burger_name}}

    <button class="devour btn btn-success" data-id="{{id}}" data-devournow="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Devoured!{{/if}}
    </button>

</li>